* {
  background-color: beige;
}

.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

input[type="text"],
input[type="number"],
input[type="email"] {
  margin-right: 2rem;
  margin-left: 0.75rem;
  background-color: lightgray;
}

.header {
  text-align: center;
  letter-spacing: 1rem;
  color: blueviolet;
}
